@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Address.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.IsPickedUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.OneTimePickup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.IsPickedUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.OneTimePickup)
            </td>
            <td>
                <a asp-action="ConfirmAndChargeAccount" asp-route-id="@item.Id">Confirm Pick Up And Charge Account </a>|
                <a asp-action="SeeOnMap" asp-route-id="@item.Id"> See Account On Map</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    Select A Day Below to See Customers On Route For That Day
</p>
<div>
    <a asp-action="SelectDayToView" asp-route-daySelected="@DayOfWeek.Monday">Monday </a>|
    <a asp-action="SelectDayToView" asp-route-daySelected="@DayOfWeek.Tuesday"> Tuesday </a>|
    <a asp-action="SelectDayToView" asp-route-daySelected="@DayOfWeek.Wednesday"> Wednesday </a>|
    <a asp-action="SelectDayToView" asp-route-daySelected="@DayOfWeek.Thursday"> Thursday </a>|
    <a asp-action="SelectDayToView" asp-route-daySelected="@DayOfWeek.Friday"> Friday</a>
</div>
